body, h1, h2, h3, h4, h5 {
	background-color: white;
	font-family: 'Times New Roman', serif;
	text-align: center;
}

#title {
	margin-top: 30px;
	margin-bottom: 70px;
}

#body {
	margin: 30px;
	padding: 80px;
}

.box {
	float: left;
	/* width: 200px; */
	margin: 0 auto;
	padding: 5px;
	border: 2px solid blue;
	display: block;
}

.blockquote {
	margin: auto;
	text-align: center;
	width: 90%;
	min-height: 10px;
	display: block;
	position: relative;
    overflow: hidden;
}

.quote, .quote h3 {
	font-style: italic;
	margin: 0 auto;
	max-width: 95%;
}

.start-quote {
	text-align: left;
	font-weight: bold;
	font-size: 100px;
	height: 90px;
}

.end-quote {
	text-align: right;
	font-weight: bold;
	font-size: 100px;
	height: 60px;
	transform: translate(0, -50px);
}

blockquote {
	border:none;
	font-family:Georgia, "Times New Roman", Times, serif;
	/* margin-bottom:-30px; */
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote h3:before { 
	content: open-quote;
	font-weight: bold;
	font-size:100px;
} 
blockquote h3:after { 
	content: close-quote;
	font-weight: bold;
	font-size:100px;
}

/* blockquote blockquote {margin-top:10px} */

  