/*color: rgba(0,0,0,0);*/

@font-face {
	font-family: SweetGirls;
	src: url("Sweet_Girls.ttf");
}

@font-face {
	font-family: "samellya";
	src: url("samellya.ttf");
}

@font-face {
	font-family: "sallat";
	src: url("sallat.ttf");
}

@font-face {
	font-family: "diggory";
	src: url("diggory_doodles.ttf");
}

@font-face {
	font-family: "Calibri";
	src: url("Calibri.ttf");
}

@font-face {
	font-family: "Calibri";
	src: url("Calibri Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Calibri";
	src: url("Calibri Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Calibri";
	src: url("Calibri Bold Italic.ttf");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Cambria";
	src: url("Cambria.ttf");
}

@font-face {
	font-family: "Cambria";
	src: url("Cambria Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Cambria";
	src: url("Cambria Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Cambria";
	src: url("Cambria Bold Italic.ttf");
	font-style: italic;
	font-weight: bold;
}


:root {
	/* COLORS */
	--bg-color: #EEEEEE;
	--text-color: #454545;
	--text-hover-color: #747474;
	--my-blue: #76B4C0;
	--my-blue-light: #A7CFD3;
	/*--my-blue-light: #B5E1E4;*/
	--my-green: #7FBD6F;
	--my-purple: #9268AB;
	--another-purple: #BDB1F9;

  	/* FONTS */
	--heading-font: Cambria, serif;
	--body-font: Calibri, serif;
	--ipa-font: Times New Roman, sans-serif;
}

::selection {
	color: white;
	background-color: var(--text-color); 
}

body {
	font-size: 16px;
	color: var(--text-color);
	/*font-family: SweetGirls;*/
	font-family: var(--body-font);
	background-color: var(--bg-color);
}

header {
	font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text-color);
	font-family: var(--heading-font);
	/*font-family: sallat, Cambria, serif;*/
}

h1 {
	font-family: sallat, Cambria, serif;
	/*font-family: Cambria, serif;*/
	font-size: 55px;
	margin-bottom: -6px;
}

h2 {
	font-family: sallat, serif;
	font-size: 44px;
	margin-bottom: -4px;
}

h3 {
	font-family: sallat, serif;
	font-size: 36px;
	margin-bottom: -4px;
}

a {
	color: var(--my-blue);
}

a:hover {
	color: var(--my-green);
	text-decoration: underline;
}

a::selection {
	color: var(--my-blue-light);
}

a:hover .image {
	-webkit-filter: invert(40%);
	border: blue;
}

.inline {
	display: inline;
}

.nobreak {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.upper {
	margin-bottom: 2.4rem;
	margin-top: -1rem;
}

.upper-bottom {
	margin-bottom: 2.4rem;
	vertical-align: 0.5rem;
}

.upper-more {
	margin-bottom: 2.4rem;
	margin-top: -1rem;
}

.number {
	font-family: diggory; 
	font-size: 22px;
}

.container-fluid {
	width: 90%;
	/*background-color: pink;*/
}

.jumbotron {
	background-color: white;
	height: 200px;
	margin: 0px;
}

#main-content {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 90%;
}


/********************** IMAGES & GRAPHICS **********************/
.shadow-effect {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.navbar.shadow-effect{
	-webkit-box-shadow: 0 10px 6px -6px #AAA;
	   -moz-box-shadow: 0 10px 6px -6px #AAA;
	        box-shadow: 0 10px 6px -6px #AAA;
}
.panel-footer.shadow-effect {
  box-shadow: 5px -3px 8px #CCC;
}

/*.shadow-effect {
  position: relative;
}
.shadow-effect:before, .shadow-effect:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow-effect:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}*/

.image-container {
	margin: auto;
	text-align: center;
	display: block;
}

.image-container .image {
	width: 50%;
}

.body-icon {
	margin-bottom: 2rem;
	margin-right: 0.9rem;
	margin-left: 1rem;
}

.flowers {
	margin-bottom: 2rem;
}

.icon-right {
	/*float: right; */
	margin: 0.8rem 0.5rem; 
	margin-bottom: 3rem;
	vertical-align: middle;
	padding: auto; 
	display: inline;
}

.social-icon:hover {
	-webkit-filter: invert(40%);
}

.social-icon-white:hover {
	filter: brightness(130%);
}

.bubble {
    background-color: var(--my-blue);
    color: white;
    padding: .3rem 0.6rem;
    border-radius: 1rem;
    transition: ease 0.2s;
}

.bubble:hover {
	background-color: var(--my-green);
    color: white;
    transition: all 0.2s;
    text-decoration: none;
}

.twirl {
	width: 40px;
}

.pencil {
	width: 35px;
}

.mobile-show {
	display: none;
}

.bracket {
	margin: 0;
	margin-top: 18%;
	padding: 0 -2%;
}


.bracket img {
	height: 180px;
}

#main-content .bracket {
	/*background: orange;*/
}

.index .col-md-1, .index .col-md-2, .index .col-md-6 {
	padding: 0;
	margin: 0;
}


/********************** ABOUT **********************/
/* curve text around image */
.curve {
	width: 33%; height: auto;
	max-width: 150px;
	float: left;
	margin-right:2rem; 
	border-radius: 50%;
	-webkit-shape-outside:circle();
	shape-outside:circle();
}

#contact-info p {
	/*line-height: 12px;*/
	margin: 0;
}


/********************** SCHOOL **********************/
.school p {
	margin: 0;
}

.school, .school .column p {
	text-align: center;
}

.coursework {
	text-align: center;
	width: 85%;
	margin: auto;
}

.coursework.single-col {
	text-align: center;
	margin: auto;
	width: 85%;
}

/* center columns */
.coursework > .row {
	margin: auto;
}

.course {
    color: white;
    /*opacity: 65%;*/
    padding: .4rem 0.2rem;
    margin-bottom: 0.8rem;
    border-radius: 1rem;
    transition: ease 0.2s;
}

.single-col .course {
    color: white;
    padding: .5rem 0.2rem;
    margin: 0 14vw;
    margin-bottom: 0.8rem;
    border-radius: 1rem;
    transition: ease 0.2s;
}

.course1 {
	/*background-color: var(--my-blue);*/
	background-color: #B5D1D8;
}

.course2 {
	/*background-color: var(--my-green);*/
	
	background-color: #BBD6AD;
}


/********************** CONTACT FORM **********************/
form .row {
	max-width: 500px;
	/*min-width: 280px;*/
}

.md-form {
	margin-top: 10px;
}

.form-control {
	border-radius: 3px;
	border-color: lightgray;
	width: 100%;
}

textarea {
  resize: none;
}

/* send button */
a.btn-info {
	background-color: var(--my-blue);
	color: white; 
	border: white;
	border-radius: 1rem;
	padding: 0.4rem 0.9rem;
}
a.btn-info:hover, a.btn-info:focus, a.btn-info.active {
	background-color: var(--my-green) !important; 
	color: white;
}


/************************************************************/
/********************** NAVIGATION BAR **********************/
/************************************************************/
.navbar {
	background-color: white;
	width: 100%;
	text-align: center;
	margin: auto;
}

/* center navbar items */
.navbar-nav, .navbar-toggler {
	margin: 0 auto; 
}

/* navbar items */
.navbar-nav .nav-item .nav-link {
	font-size: 18px;
	color: var(--text-color);
	font-family: var(--heading-font);
	display: inline-block;
}

/* navbar spacing */
.navbar-nav .nav-item {
	padding: 0px 40px;
	width: 50%;
}

/* navbar icon */
.menu-icon {
	background-image: url('../images/icon_small.png');
	background-size: 35px 35px;
	width: 35px;
	height: 35px;
	margin: auto;
}

/* navbar icon - CURRENT PAGE */
.menu-icon-fill {
	background: url('../images/icon_fill_small.png') no-repeat;
	background-size: 35px 35px;
}

/* navbar icon - HOVER */
.navbar-nav .nav-item .nav-link:hover .menu-icon, .navbar-nav .nav-item .nav-link:focus .menu-icon {
	background: url('../images/icon_fill_small.png') no-repeat;
	background-size: 35px 35px;
}


/********************** NAVBAR IPA **********************/
.nav-container {
	/*background-color: pink;*/
	height: 25px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

/****** BEFORE ******/
.nav-text {
	position: absolute;
	top: 12px;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
}
.nav-ipa {
	font-size: 18px;
	font-family: var(--ipa-font);
	position: absolute;	
	top: 40px;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
	white-space: nowrap;
}

/****** AFTER ******/
.navbar-nav .nav-item .nav-link:hover .nav-text, .navbar-nav .nav-item .nav-link:focus .nav-text {
	position: absolute;	
	top: -13px;
	transition: 0.3s ease;
}
.navbar-nav .nav-item .nav-link:hover .nav-ipa, .navbar-nav .nav-item .nav-link:focus .nav-ipa {
	color: var(--text-color);
	position: absolute;	
	top: 14px;
	transition: 0.3s ease;
}

/********************** NAVBAR BUTTON **********************/
.icon-bar {
	width: 25px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 6px
}
 
.navbar-toggler {
	border: none;
	background: transparent !important;
	margin-bottom: 6px;
	/*margin-top: -10px;*/
}

/* hamburger button */
button.navbar-toggler {
	border: none;
}

.navbar-expand-sm .navbar-collapse .nav-item {
	margin: auto;
}

.navbar-toggler .top-bar {
	transform: rotate(40deg) translate(3px);
	transform-origin: 10% 10%;
	/*translate(3px) rotate(45deg);*/
}
 
.navbar-toggler .middle-bar {
	opacity: 0;
}
 
.navbar-toggler .bottom-bar {
	transform: rotate(-40deg) translate(3px);
	transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}


/********************************************************/
/********************** SITE TITLE **********************/
/********************************************************/
#description {
	font-size: 20px;
	color: var(--text-color); 
	font-family: Times New Roman, serif;
}
#title-container {
	/*background-color: pink;*/
	height: 60px;
	width: 330px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

/****** BEFORE ******/
#title {
	font-size: 50px;
	color: var(--text-color); 
	font-family: SweetGirls, serif;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 22px;
	transition: 0.3s ease;
	white-space: nowrap;
	padding-left: 0.3rem;
	padding-right: 0.2rem;
}
#title-ipa {
	font-size: 36px;
	color: var(--text-color);
	font-family: Times New Roman, sans-serif;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 90px;
	transition: 0.3s ease;
	white-space: nowrap;
}

/****** AFTER ******/
#title-container:hover #title, #title-container:focus #title {
	position: absolute;
	top: -40px;
	transition: 0.3s ease;
}
#title-container:hover #title-ipa, #title-container:focus #title-ipa {
	color: var(--text-color);
	position: absolute;
	top: 22px;
	transition: 0.3s ease;
}
#title:hover {
	text-decoration: none;
}


/****************************************************/
/********************** FOOTER **********************/
/****************************************************/
.panel-footer {
	/*margin-top: 20px;*/
	background-color: white;
	width: 100%;
}

#footer-container {
	/*align-text: center;*/
	padding: 30px 0px 1px;
	width: 80%;
	margin: auto;
}

.panel-footer p {
	margin-bottom: 5px;
}

.footer-copyright a {
	padding: 7px;
}


/***********************************************************/
/********************** MEDIA QUERIES **********************/
/***********************************************************/

/********** HUGE DEVICES **********/
/*@media (min-width: 2560px) {
	#title {
		font-size: 120px;
	}
	#title-ipa {

	}
	#description {
		font-size: 70px;
	}

	.nav {
		height: 300px;
	}

	.navbar-nav .nav-item .nav-link {
		font-size: 40px;
	}

	.navbar-nav .nav-item {
		padding: 0px 100px;
	}

	.menu-icon {
		background-size: 60px 60px;
		width: 60px;
		height: 60px;
	}

	.navbar-nav .nav-item .nav-link:hover .menu-icon {
		background: url('../images/icon_fill_small.png') no-repeat;
		background-size: 60px 60px;
		width: 60px;
		height: 60px;
		margin: auto;
	}
}*/


/********** LARGE DEVICES **********/
@media (min-width: 1200px) and (max-width: 2559px) {

}

/********** MEDIUM DEVICES **********/
@media (min-width: 768px) and (max-width: 1199px) {
	.container-fluid {
		width: 95%;
	}

	color: var(--text-hover-color);
		transition: 0s;

}

/********** SMALL-ISH DEVICES **********/
@media (min-width: 426px) and (max-width: 767px) {
	.container-fluid {
		width: 95%;
	}

	.image-container .image {
	width: 100%;
	}

	#title {
		font-size: 50px;
	}

	#title-ipa {
		font-size: 36px;
	}

	#description {
		font-size: 20px;
	}

	.menu-icon {
		background-size: 25px 25px;
		width: 25px;
		height: 25px;
	}

	.navbar-nav .nav-item {
		font-size: 16px;
		padding: 0px 20px;
	}

	.navbar-nav .nav-item .nav-link:hover .menu-icon {
		background: url('../images/icon_fill_small.png') no-repeat;
		background-size: 25px 25px;
		width: 25px;
		height: 25px;
		margin: auto;
	}

	.jumbotron {
		height: 170px;
	}
	
	.md-form {
		width: 100%;
	}

	/****** NAVBAR ******/
	/* navbar spacing */
	.navbar-nav .nav-item {
		padding: 0px 8px;
	}

	.navbar-nav .nav-link {
		font-size: 1vw;
	}

	.menu-icon {
		display: none;
	}

	.nav-container {
		/*background-color: pink;*/
		height: 25px;
		margin: auto;
		position: relative;
		overflow: hidden;
	}

	.nav-ipa {
		display: none;
	}

	.navbar-nav .nav-item .nav-link:hover .nav-text, .navbar-nav .nav-item .nav-link:focus .nav-text {
		position: absolute;
		top: 12px;
		left: 50%;
		transform: translate(-50%, -50%);
		color: var(--text-hover-color);
		transition: 0s;
	}
	 

	h1 {
		font-size: 45px;
	}

	.school h1 {
		font-size: 40px;
	}

	.school h2 {
		font-size: 30px;
	}

	.school .number {
		font-size: 18px;
	}

	.twirl {
		width: 20px;
	}

	.pencil {
		width: 30px;
	}

	.single-col .course {
		margin: 0.4rem 0;
	}

	.body-icon, .flowers, .bracket {
		display: none;
	}

	.upper {
		margin-top: 0rem;
	}

	.upper-more {
		margin-top: -0.4rem;
	}

	.mobile-show {
		display: inline;
	}
	
}

/********** SMALL DEVICES **********/
@media (max-width: 425px) {
	.container-fluid {
		width: 98%;
	}

	.jumbotron {
		height: 150px;
	}

	.md-form {
		width: 100%;
	}

	.image-container .image {
		width: 100%;
	}

	/****** NAVBAR ******/
	/* navbar spacing */
	.navbar-nav .nav-item {
		padding: 0px 8px;
	}

	.navbar-nav .nav-link {
		font-size: 1vw;
	}

	.menu-icon {
		display: none;
	}

	.nav-container {
		/*background-color: pink;*/
		height: 25px;
		margin: auto;
		position: relative;
		overflow: hidden;
	}

	.nav-ipa {
		display: none;
	}

	.navbar-nav .nav-item .nav-link:hover .nav-text, .navbar-nav .nav-item .nav-link:focus .nav-text {
		position: absolute;
		top: 12px;
		left: 50%;
		transform: translate(-50%, -50%);
		color: var(--text-hover-color);
		transition: 0s;
	}
	
	/****** SITE TITLE ******/
	#description {
		font-size: 5vw;
	}
	#title-container {
	/*height: 60px;*/
	width: 90vw;
	/*margin: auto;*/
	margin: 0;
	position: relative;
	overflow: hidden;
	}
	
	#title {
		font-size: 12vw;
		color: var(--text-color); 
		font-family: SweetGirls, serif;
		position: absolute;
		left: 45vw;
		/*transform: translate(-50%, -50%);*/
		top: 22px;
		transition: 0.3s ease;
		white-space: wrap;
	}
	#title-ipa {
		font-size: 30px;
		color: var(--text-color);
		font-family: Times New Roman, sans-serif;
		position: absolute;
		/*left: 0%;*/
		transform: translate(-50%, -50%);
		top: 90px;
		transition: 0.3s ease;
		white-space: nowrap;
	}

	/****** AFTER ******/
	#title-container:hover #title, #title-container:focus #title {
		position: absolute;
		top: -40px;
		transition: 0.3s ease;
	}
	#title-container:hover #title-ipa, #title-container:focus #title-ipa {
		color: var(--text-color);
		position: absolute;
		top: 22px;
		transition: 0.3s ease;
	}
	#title:hover {
		text-decoration: none;
	}

	h1 {
		font-size: 45px;
	}

	h2 {
		font-size: 38px;
	}

	.school h1 {
		font-size: 35px;
	}

	.school h2 {
		font-size: 30px;
	}

	.school .number {
		font-size: 16px;
	}

	.twirl {
		width: 20px;
	}

	.pencil {
		width: 30px;
	}

	.single-col .course {
		margin: 0.4rem 0;
	}

	.body-icon, .flowers, .bracket {
		display: none;
	}

	.about .body-icon {
		/*display: inline;*/
	}

	.upper {
		margin-bottom: 1.3rem;
		margin-top: 0rem;
	}

	.upper-more {
		margin-top: -0.4rem;
	}

	.mobile-show {
		display: inline;
	}
}

/********** TINY DEVICES **********/
@media (max-width: 300px) {
	.about .body-icon {
		/*display: none;*/
	}

}


